<?xml version="1.0" encoding="UTF-8"?>
<ruleset name="BSky Drupal">
  <arg name="extensions" value="php,inc"/>
<rule ref="PSR2"/>
<!--<rule ref="PSR2"/>-->
<file>src</file>
  <file>bsky_drupal.php</file>
  <file>bsky_drupal.php</file>
  <file>environment.php</file>
</ruleset>
